@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0; padding: 0;
    font-family: 'Poppins';
    color: midnightblue;
    user-select: none;
}

body > div {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align: center;
}

button {
    margin: 1rem 2rem;
    padding: .5rem 1rem;
    background: inherit;
    border: 2px solid;
    border-radius: 2rem;
}

.connection {
    display: flex;
    align-items: center;
}

#connectB {
    padding: .25rem .5rem;
}

#status {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

#status::before {
    content: "";
    display: inline-block;
    width: .8rem; height: .8rem;
    background: salmon;
    border-radius: 50%;
}

.select {
    display: flex;
    gap: 1rem;
}

.select img {
    width: 5rem;
    image-rendering: pixelated;
    transition: all .35s ease-in-out;
}

.select img:hover {
    transform: scale(1.5);
}