@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	font-family: "Poppins";
	/* color: whitesmoke; */
}

body {
  	max-width: 80ch;
	margin: 3rem 4rem;
	/* background: cornflowerblue; */
}

hr {
  	margin-bottom: 2rem;
	/* border: pink; */
}

label {
  	line-height: 2;
}

input, button {
  	padding: .5em;
  	font-size: 1rem;
	background: inherit;
	border: 1.5px solid;
	border-radius: .5rem;
}

#textDisplay {
  	font-weight: 700;
}